<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Site</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .top-bar {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            text-align: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
        }
        .content {
            margin-top: 50px; 
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="top-bar">
        Neural Network-Based Deepfake Detection
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
