<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Fake Detection Application</title>

    <!-- link to bootstrap css CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

    <!-- stylesheet for dashboard, using bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- top bar -->
    <div class="top-bar">
        <button class="open-btn" onclick="openDashboard()">☰ Menu</button>
        Neural Network-Based Deepfake Detection
    </div>
    
    <!-- dashboard -->
    <div id="myDashboard" class="dashboard">
        <a href="javascript:void(0)" class="close-btn" onclick="closeDashboard()">&times;</a>
        <a href="#">Previous Results</a>
        <a href="https://www.setu.ie/" target="_blank">SETU</a>
        <a href="https://evang-17.github.io/fypExpoSite/" target="_blank">About This App</a>
        <a href="#">Settings</a>
    </div>

    <!-- content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript -->
    <script>
        function openDashboard() {
            document.getElementById("myDashboard").style.width = "250px";
        }
        function closeDashboard() {
            document.getElementById("myDashboard").style.width = "0";
        }
    </script>
</body>
</html>
