<!--https://jinja.palletsprojects.com/en/stable/-->
{% extends "base.html" %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <form method="post" enctype="multipart/form-data">
        <label for="fileUpload" style="font-size: 18px;">Upload a Video or Image:</label>
        <br><br>
        <input type="file" id="fileUpload" name="fileUpload" class="form-control mb-3" style="width: 50%; margin: 0 auto;">
        <button type="submit" class="btn btn-primary">Detect</button>
    </form>

    {% if uploaded_image %}
    <div style="margin-top: 30px;">
        <h3>Uploaded Image:</h3>
        <img src="{{ url_for('static', filename='uploads/' ~ uploaded_image) }}" alt="Uploaded Image" style="max-width: 50%; border: 1px solid #ccc; padding: 10px;">
    </div>
    {% endif %}
</div>

{% endblock %}


